/AdditionOperator.class
/DifferenceOperator.class
/DivisionOperator.class
/ExponentialOperator.class
/GCDOperator.class
/MultiplicationOperator.class
/NRootOperator.class
/SquareRootOperator.class
/NthRootOperator.class
/SqrtOperator.class
/CubedRoot.class
/CubedRootOperator.class
